<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spdata.crm.sysdict.dao.SysDictDao">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.spdata.common.sysdict.SysDict">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="group" property="group" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="is_del" property="isDel" jdbcType="INTEGER"/>
    </resultMap>
    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        name,
        group,
        value,
        is_del
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="sysDict.id">
        INSERT INTO sys_dict (
            id,
            name,
            group,
            value
        ) VALUES (
            #{sysDict.id,jdbcType=INTEGER},
            #{sysDict.name,jdbcType=VARCHAR},
            #{sysDict.group,jdbcType=VARCHAR},
            #{sysDict.value,jdbcType=VARCHAR}
        )
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE sys_dict
        <set>
            <if test="sysDict.name != null">name= #{sysDict.name,jdbcType=VARCHAR},</if>
            <if test="sysDict.group != null">"group"= #{sysDict.group,jdbcType=VARCHAR},</if>
            <if test="sysDict.value != null">value= #{sysDict.value,jdbcType=VARCHAR},</if>
            <if test="sysDict.isDel != null">is_del= #{sysDict.isDel,jdbcType=INTEGER}</if>
        </set>
        WHERE id = #{sysDict.id,jdbcType=INTEGER}
    </update>

    <select id="findByPage" resultMap="BaseResultMap">
        select
        *
        from sys_dict
        <where>
            <if test="isDel != null">and is_del=#{isDel} </if>
            <if test="group != null">and 'group' =#{group}</if>
        </where>
    </select>
</mapper>

