<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spdata.resource.server.user.mapper.UserMapper">
    <resultMap id="BaseResul" type="com.spdata.common.account.Account">
        <result column="username" property="username"></result>
        <result column="mailbox" property="mailbox"></result>
        <result column="givename" property="givename"></result>
        <result column="country" property="country"></result>
        <result column="avatar" property="avatar"></result>
        <result property="phone" column="phone"></result>
    </resultMap>
    <select id="findBuAccountInfo" resultMap="BaseResul">
        select username,mailbox,givename,country,avatar,phone
         from account where is_del=0 and username=#{username}
    </select>
</mapper>