<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spdata.crm.permission.dao.PermissionDao">
    <select id="findRolePermission" resultType="com.spdata.common.permission.permission">
        select permission.*
        from role
               join account_role on (account_role.role_id = role.id and role.is_del = 0)
               join account on (account.id = account_role.account_id and account.is_del = 0)
               join role_permission on (role.id = role_permission.role_id)
               join permission on (permission.id = role_permission.permission_id and permission.is_del = 0)
        where account.username = #{username} group by permission.id
    </select>
    <select id="findRoleIdPermission" resultType="com.spdata.common.permission.permission">
            select permission.*
            from role
                   join role_permission on role.is_del = 0 and role.id = role_permission.role_id
            join permission on permission.id=role_permission.permission_id and permission.is_del=0
            where role.id=#{id}
    </select>
    <insert id="save">
        insert into permission(name, `value`) value (#{permission.name},#{permission.value})
    </insert>
    <update id="delect">
        update permission set is_del=1 where id=#{permission.id}
    </update>
    <update id="update">
      update permission set name=#{permission.name},`value`=#{permission.value}  where id=#{permission.id}
    </update>
    <select id="findByPage" resultType="com.spdata.common.permission.permission">
      select * from permission where is_del=0
    </select>
</mapper>