<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spdata.crm.dept.dao.deptDao">
    <resultMap id="BaseResultMap" type="com.spdata.common.dept.Dept">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="parent" jdbcType="INTEGER" property="parent"/>
        <result column="is_del" jdbcType="INTEGER" property="isDel"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `name`, parent, is_del, create_date, update_time
  </sql>
    <select id="findDeptChild" resultMap="BaseResultMap">
        select * from dept where find_in_set(id,getDeptChild(#{id} )) order by parent
  </select>
    <insert id="save" keyProperty="id" useGeneratedKeys="true">
        insert into dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="parent != null">parent</if>
        </trim>
        value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name },</if>
            <if test="parent != null">#{parent},</if>
        </trim>
    </insert>
    <update id="update">
        update dept
        <set>
            <if test="name !=null">name=#{name},</if>
            <if test="parent!=null">parent=#{parent},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </set>
        where id=#{id}
    </update>
</mapper>