<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spdata.crm.account.Dao.AccountDao">
    <sql id="sql">
                id,username,password,givename,avatar,mailbox,country,is_del
    </sql>
    <select id="findByid" resultType="com.spdata.entity.Account.Account">
        select
        <include refid="sql"/>
        from account
        where id=#{account.id}
    </select>
    <insert id="save" useGeneratedKeys="true" keyColumn="id" keyProperty="account.id">
        insert into account(id,username,password,givename,mailbox,country)
        value
        (#{account.id},#{account.username},#{account.password},#{account.givename},#{account.mailbox},#{account.country})
    </insert>
    <update id="delect">
        update account set is_del=0 where id=#{account.id}
    </update>
    <select id="findByPage" resultType="com.spdata.entity.Account.Account">
        select
        <include refid="sql"/>
        FROM account
        <where>
            <if test="account !=null and account.is_del==true">
                is_del=#{account.is_del}
            </if>
        </where>
    </select>
    <update id="updatePassword">
        update account set password=#{account.password} where username=#{account.username}
    </update>
    <select id="findAccount" resultType="com.spdata.entity.Account.Account">
        select
        <include refid="sql"/>
        from account
        where username=#{username}
    </select>
    <insert id="saveRole">
        insert into account_role(account_id, role_id) values
        <foreach collection="roles" item="item" separator=",">
            (#{account_id},#{item.id})
        </foreach>
    </insert>
    <update id="UpdateAvatar">
        update account set avatar=#{Avatar} where username=#{username}
    </update>
</mapper>